<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!DOCTYPE html>
<html lang="en">


<meta name="viewport" content="width=device-width, initial-scale=0.4">

<head>
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="/css/inventario.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/imagens/apoioFratlogo.png" />
    <title>Inventário</title>
</head>


<body>
    <div class="inventario">

        <% for (var i = 0; i < alimentos.length; i += 2) { %>
            <div class="row">
                <div class="col-sm">
                    <form action='/voluntarios/alimento/<%= alimentos[i].id %>' method='GET'>
                        <button type="submit" class="btn">
                            <img class="card-img-top" src=<%="/imagens/Alimentos/" + alimentos[i].imagem %>>
                            <h5 class="card-title">
                                <%= alimentos[i].alimento %>
                            </h5>
                        </button>
                    </form>
                </div>
                <% if (i+1 < alimentos.length) { %>
                    <div class="col-sm">
                        <form action='/voluntarios/alimento/<%= alimentos[i+1].id %>' method="GET">
                            <button type="submit" class="btn">
                                <img class="card-img-top" src=<%="/imagens/Alimentos/" + alimentos[i+1].imagem %>>
                                <h5 class="card-title">
                                    <%= alimentos[i+1].alimento %>
                                </h5>
                            </button>
                        </form>
                    </div>
                </div>
                <% } %>
        <% } %>
        <% if (alimentos.length % 2 !== 0) { %>
                <div class="col-sm">
                    <form action='/voluntarios/outros' method="GET">
                        <button type="submit" class="btn">
                            <img class="card-img-top" src="/imagens/outros1.jpg" >
                            <h5 class="card-title">Outros</h5>
                        </button>
                    </form>
                </div>
            </div>
        <% } else { %>
            <div class="row">
                <div class="col-sm">
                    <form action='/voluntarios/outros' method="GET">
                        <button type="submit" class="btn">
                            <img class="card-img-top" src="/imagens/bg3.jpg">
                            <h5 class="card-title">Outros</h5>
                        </button>
                    </form>
                </div>
            </div>
        <% } %>     
    </div>
    <div class="navbar">
        <a href="/voluntarios/menuPrincipal"><i class="fa fa-arrow-left"></i> Voltar</a>
        <!--Fazer backend da barra de pesquisa-->
    </div>
</body>

</html>