<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!DOCTYPE html>
<html lang="en">


<meta name="viewport" content="width=device-width, initial-scale=0.4">

<head>
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="/css/inventario.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/imagens/apoioFratlogo.png" />
    <title>Inventário</title>
</head>

<% if (typeof message !='undefined' ) { %>
    <body onload="showMessage()">
<% } else { %>
    <body>
<% } %>

    <div class="inventario">

        <% for (var i = 0; i < alimentos.length; i += 2) { %>
            <div class="row">
                <div class="col-sm">
                    <form method="POST" action='/alimento'>
                        <button type="submit" class="btn">
                            <img class="card-img-top" src=<%="/imagens/Alimentos/" + alimentos[i].imagem
                                + ".jpg" %> alt="Card image cap">
                            <h5 class="card-title">
                                <%= alimentos[i].alimento %>
                            </h5>
                            <input type="hidden" class="form-control" name="id" value=<%=alimentos[i].id %>>
                        </button>
                    </form>
                </div>
                <% if (i+1 < alimentos.length) { %>
                    <div class="col-sm">
                        <form method="POST" action='/alimento'>
                            <button type="submit" class="btn">
                                <img class="card-img-top" src=<%="/imagens/Alimentos/" + alimentos[i+1].imagem
                                    + ".jpg" %> alt="Card image cap">
                                <h5 class="card-title">
                                    <%= alimentos[i+1].alimento %>
                                </h5>
                                <input type="hidden" class="form-control" name="id" value=<%=alimentos[i+1].id
                                    %>>
                            </button>
                        </form>
                    </div>
                </div>
                <% } else if (alimentos.length % 2 !== 0) { %>
                        <div class="col-sm">
                            <form method="GET" action='/outros'>
                                <button type="submit" class="btn">
                                    <img class="card-img-top" src="/imagens/outros.jpg">
                                    <h5 class="card-title">Outros</h5>
                                </button>
                            </form>
                        </div>
                    </div>
                <% } else { %>
                    <div class="row"></div>
                        <div class="col-sm">
                            <form method="GET" action='/outros'>
                                <button type="submit" class="btn">
                                    <img class="card-img-top" src="/imagens/outros.jpg">
                                    <h5 class="card-title">Outros</h5>
                                </button>
                            </form>
                        </div>
                    </div>
                <% } %>
            
        <% } %>
        <div class="navbar">
            <a href="/menuPrincipal"><i class="fa fa-arrow-left"></i> Voltar</a>
            <!--Fazer backend da barra de pesquisa-->
            
              <!------------------------------------->
            <a href="/CriarAlimento"><i class="fa fa-plus"></i> Criar Alimento</a>
        </div>

    </div>
    <script src="/scripts/modules.js"></script>
</body>

</html>