<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=0.6">

<head>
    <!--Bootsrap 4 CDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="/css/tabelaUsersHistorico.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/images/apoioFratlogo.png" />

    <title>Tabela Utilizadores</title>

</head>

<body>
    <%- include ('partials/navbarAdmin') %>
    <%- include ('partials/criarAlimento') %>
    <%- include ('partials/alertas') %>
    <div class="table-data">
        <h2>Tabela Utilizador</h2>
        <table border="1">
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Tipo</th>
                <th>Apagar</th>
            </tr>

            <% if(listaUsers.length !=0){ listaUsers.forEach(function(l){ %>
                <tr>
                    <td>
                        <%=l.nome; %>
                    </td>
                    <td>
                        <%=l.email %>
                    </td>
                    <td>
                        <%=l.tipo %>
                    </td>
                    <td><a href="/admin/delete/user/<%=l.email%>">Apagar</a></td>
                </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="7">Não existe nenhum alimento</td>
                </tr>
            <% } %>
        </table>
    </div>
</body>

</html>